<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <!--<add name="conString" connectionString="Server=localhost;Database=ALT + F4; integrated security=sspi;" />-->
    <add name="conString" connectionString="Server=instamusica.database.windows.net;Database=INSTAMUSICA; uid=alt+f42015; pwd=instaMUSICA2015;" />
    <!--<add name="conString" connectionString="Server=TAFT-IS116;Database=Alt + f4;UID=sa;Password=stbenilde;" />-->
    <!--<add name="conString" connectionString="Server=EYCHPEE\MSSQL;Database=ALT + F4; uid=bautista-progap3; pwd=bautista-progap3;" />-->
    <!--<add name="conString" connectionString="Server=TAFT-IS117;Database=myshop-dacuagm;UID=sa;Password=stbenilde;" />-->
    <!--<add name="conString" connectionString="Server=TAFT-IS117;Database=mybookstore;UID=sa;Password=stbenilde;" />-->
  </connectionStrings>
</configuration>
